h2{
    font-family: Georgia, serif;
    padding: 10px 0 20px 0;
    text-align: center;
}

button{
    font-family: 'Trebuchet MS', sans-serif;
    /* background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%); */
    
}
