<!-- <input type="text" (value)="text" #name name="name" (keyup)="updateText(name.value)"> -->
<!-- <input  type="text" [(ngModel)]="text" #name name="name" > -->
<!-- <h4 type="text" [(ngModel)]="text" #name name="name" >hi</h4> -->
<!-- <h5  #name name="name">{{text}}</h5> -->
<!-- <button (click)="updateText({text})">Check</button> -->


<!-- <input  type="text" [(ngModel)]="text1" #name1 name="name1" >
<input  type="text" [(ngModel)]="text2" #name2 name="name2" >
<button (click)="updateText(name1.value,name2.value)">Check</button> -->